﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<div class="col-md-4">
    <label>Category Name</label>
    <input type="text" class="form-control" />
</div>
<div class="col-md-4">
    <label>Category Detail</label>
    <input type="text" class="form-control" />
</div>
<div class="col-md-4">
    <label>Category Icon</label>
    <input type="file" class="form-control" />
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
</div>
