﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ApnaServiceCentre</title>
    <!-- for-mobile-apps -->
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="A2Z Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <style>
        .logo-nav-left h1 a span.fa { padding: 2px; }
        .logo-nav-left h2 a span.fa { padding: 2px; }
        .banner_form input[type="password"] { width: 100%; padding: 0.75em 1em; color: #000; font-size: 1em; outline: none; border: 1px solid #c5c0c0; background: #f5f5f5; }
    </style>

</head>

<body>
    <!-- header -->
    <div class="w3layouts-header">
        <div class="container">

            <div class="logo-nav-agileits">
                <div class="logo-nav-left">
                    <h1>
                        <a href="index.html">
                            <span class="fa fa-home"></span>Apna
                            <span class="logo-title">Service Centre</span>
                        </a>
                    </h1>
                </div>

                <div class="header-grid-left-wthree">
                    <div class="h3-title">
                        <h3>contact us</h3>
                    </div>
                    <ul>
                        <li>
                            <span class="fa fa-mobile" aria-hidden="true"></span><a href="tel:9541492390">+91-9541492390</a>, <a href="tel:9896911840">+91-9896911840</a>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            Menu
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!--<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul id="topnav" class="nav navbar-nav">
                            <li class="active">
                                <a class="page-scroll" href="index.html">Home</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html#about">About Us</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#clients">Clients</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#services">Services</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#contact">Contact Us</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#app">Download App</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="status.html">Login</a>
                            </li>
                            <li class="s-bar">
                                <div class="search-w3_agileits">
                                    <input class="search_box" type="checkbox" id="search_box">
                                    <label class="icon-search" for="search_box">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </label>
                                    <div class="search_form">
                                        <form action="#" method="post">
                                            <input type="search" name="Search" placeholder=" " />
                                            <input type="submit" value="Search">
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>-->

                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!--<div class="banner-bg2">
        <div class="banner-info bg3 inner">

        </div>
    </div>-->
    <!-- breadcrumbs -->
    <div class="breadcrumbs-w3l">
        <div class="container">
            <span class="breadcrumbs">
                <a href="index.html">Home</a> |
                <span>Status</span>
            </span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- track order -->

    <div class="w3ls-section">
        <div class="container">
            <div class="register-top">
                <div class="col-md-5 col-sm-5 register-left">
                    <img src="images/order.jpg" alt="" class="img-responsive" />
                </div>
                <div class="col-md-7 col-sm-7 register-right">
                    <form action="#" method="post" class="banner_form">
                        <h6>Login</h6>
                        <div class="sec-right">
                            <label class="contact-form-text">Email</label>
                            <input placeholder="xxx@xx.com " name="email" type="email" required="">
                        </div>
                        <div class="sec-left">
                            <label class="contact-form-text">Password</label>
                            <input placeholder=" XXXXXX" name="pwd" type="password" required="">
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                    <!--<a href="#register" class="scroll">new user register here</a>-->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //track order -->
    <!-- //register -->
    <!-- footer -->
    <div class="footer-main-w3_agile">
        <div class="footer-dot">
            <div class="container">
                <div class="footer-bottom">
                    <div class="col-md-4 col-sm-6 col-xs-6 footer-grid1 address">
                        <h4>Contact Info</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home" aria-hidden="true"></span>
                                <p>Rohtak</p>
                            </li>
                            <li>
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                <a href="mailto:apnaservicecentre@gmail.com">Apnaservicecentre@gmail.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <p><a href="tel:9896911840">9896911840</a>,<a href="tel:9541492390">9541492390</a> </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 footer-grid1 res">
                        <h4 style="text-align:center;">Repair services</h4>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <a href="#services">Chimney</a>
                                </li>
                                <li>
                                    <a href="#services">Hob & gas Stove</a>
                                </li>
                                <li>
                                    <a href="#services">RO System</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <a href="#services">Gas & electrical Geyser</a>
                                </li>
                                <li>
                                    <a href="#services">Mixer Grinder</a>
                                </li>
                                <li>
                                    <a href="#services">Ceiling Fan</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-6 footer-grid1">
                        <h4>Navigation</h4>
                        <ul>
                            <li>
                                <a class="page-scroll" href="index.html">Home</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html">About</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html">Services</a>
                            </li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="cpy-footer">
        <div class="container">
            <div class="footer-top">
                <div class="logo-nav-left footer-top1">
                    <h2>
                        <a href="index.html">
                            <span class="fa fa-home logo-ftr"></span>Apna
                            <span class="logo-title">service Centre</span>
                        </a>
                    </h2>
                </div>
                <div class="footer-social">
                    <h4>connect with us</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook icon_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter icon_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble icon_dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus icon_g_plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cpy-text">
            <p>
                © 2018 ApnaServiceCentre. All rights reserved | Design by
                <a href="http://sandhyadigital.com/" target="_blank">SandhyaDigital</a>
            </p>
        </div>

    </div>
    <!--//footer  -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js-->
    <!--search-bar-->
    <script src="js/main.js"></script>
    <!--//search-bar-->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>

</html>